<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>li</title>
    <style>
        .pagination .page{
            display: inline-block;
            padding: 5px;
            background-color: cyan;
            margin: 5px;
        }
        .pagination .page.active{
            background-color: brown;
            color: white;
        }
    </style>
</head>
<body>
    <ul>
        {% for li in list %}
        <li>
            {{ li }}
        </li>
        {% endfor %}

    </ul>
    <div class="pagination">
        {{ page_str }}
    </div>
</body>
</html>